.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

.DS_Store
/.quarto/
/_site/
/_book/
site_libs
*.sif
*.tar.gz
# ignore SS output
*.ss
*.tmp
*.sso
fmin.log
ss3_linux.log
working/ss3-example-calcs.r
ss3.*
*.ss_new
